header{
  background-color: #5b7989;
  width: 100%;
  height:200px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;

}

.titulo{
  display: block;
  color: white;
  text-align: left;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 2px #02010a;
  font-size: 1.143em;
  float: left;
  margin-left: 10px;
}
a li{
  color: white;
}
ul.horizontal{
  margin: 0;
  padding: 0;
  color: white;
}

ul.horizontal li{
  display: block;
  color: white;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 2px #02010a;
  font-size: 1.543em;
  margin-top: 35px;
  float: right;
  padding: 0 10px 20px;
  list-style-type: none;
}

body{
  background: #02010a;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 2px #02010a;

}

a{
  color: white;
}
img{
  width: 90%;
  padding: 20px;
}

.contenido{
  width: 100%;
  height: 40em;
  border: #d5c75f 1px solid;
  background-color: #d5c75f;
}

.foto1{
  filter: blur(10px);
  -o-filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
}

.foto2{
  filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.foto3{
  filter: sepia(90%);
  -o-filter: sepia(90%);
  -moz-filter: sepia(90%);
  -webkit-filter: sepia(90%);
}

.foto4{
  filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.foto6{
  filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}



footer{
background-color: #c6d5c5;
width: 100%;
height: 250px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
border: #c6d5c5 2px solid;

}

h5#Contacto{
  font-size: 1.89em;
  color: black;
  text-align: center;
  clear: left;
  margin-left: 20px;
  margin: 0;
  padding: 0;
}

#columna_izquierda {
  color: black;
  font-size: 1.123em;
  text-align: center;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0 10px 20px;
  }

h5#terminos{
    font-size: 1.89em;
    color: black;
    text-align: center;
    clear: left;
    margin: 0;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 40px;
    padding: 0;
  }

#columna_central{
  color: black;
  font-size: 1.123em;
  text-align: center;
  float: left;
  clear: center;
  padding: 0 10px ;
 margin-left: 100px;

}

h5#redes{
  font-size: 1.89em;
  color: black;
  text-align: center;
  clear: left;
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-left: 30px;
}

#columna_central2{
  color: black;
  font-size: 1.123em;
  text-align: center;
  float: left;
  padding: 0 10px;
  margin-left: 195px;
}

h5#derechos{
  font-size: 1.89em;
  color: black;
  text-align: center;
  clear: left;
  margin: 0;
  margin-top: 18px;
  margin-left: 70px;
  margin-right: 50px;
  padding: 0;
}
#columna_derecha{
  color: black;
  font-size: 1.123em;
  text-align: center;
  float: right;
  padding: 0 10px;
  margin-left: 50px;
  margin-right: 50px;

}

@media screen and (max-width:900px) {
  .contenido{
    display: block;

  }
  th{
    width: 100%;
  }
h1{
 display: block;
}
  .titulo{
    display: block;
  }
   .horizontal{
     display: block;
   }


  footer{
    width: 100%;
    text-align-last: center;
  }
}

@media screen and (min-width:900px) {
  .contenido{
    width: 100%;

  }

  th{
    width: 100%;
  }
h1{
  width: 100%;
}
  .titulo{
    width: 100%;
    overflow: hidden;

  }
   .horizontal{
     width: 100%;
     text-align: center;
   }

  footer{
    width: 100%;
    text-align-last: center;
  }
}
